/* src/pages/Settings.css */
* {
    font-family: 'Roboto', sans-serif;
}
.settings-container {
    background-color: #121212;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.settings-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.settings-options {
    width: 100%;
    max-width: 500px;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

.setting-item label {
    font-size: 1.2rem;
    color: #ddd;
}

.setting-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.setting-item:last-child {
    border-bottom: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .settings-options {
        width: 90%;
    }
}
